<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <label for="file">Add file:</label>
    <input type="file" id="file" multiple/>

    <button class="send">Send</button>

    <label for="progress">Downloading progress:</label>
    <progress id="progress" value="0" max="100"> 0% </progress>

    <script src="../js/webtorrent.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/client.js"></script>
</body>

</html>