.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.box {
    width: 75vw;
}

.roomID {
    align-items: center;
    margin: 30px;
    color: #3faef9;
    font-size: 39px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
    margin-top: -5rem;
}

.files {
    border: 0.7px solid rgb(180, 180, 180);
    color: #3faef9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    border-radius: 15px;
    padding: 15px;
    height: 500px;
    overflow: scroll;
}

.file-title {
    margin: 0.7rem 0 0 1rem;
    font-size: 20px;
}

.files .card {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}

.progress {
    height: 3px;
}

.list {
    border: solid;
    border-radius: 7px;
    border-color: #171616;
    border-width: 2px;
    /* box-shadow: 5px 7px #3faef9; */
    padding-bottom: 25px;
    width: 200px;
    padding-left: 60px;
    padding-right: 60px;
    margin-left: 15%;
    box-shadow: 5px;
}

body {
    background-color: #06283D;
}

.peers {
    min-width: 320px;
    max-width: 800px;
    margin: 0 auto;
    height: 500px;
}

.highcharts-background {
    fill-opacity: 0;
}

.highcharts-title {
    fill: #ccc !important;
}